apiVersion: v1
kind: ServiceAccount
metadata:
  name: grafana
  namespace: grafana
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: grafana-operator-update
  namespace: grafana
rules:
  - apiGroups: ["grafana.integreatly.org"]
    resources: ["grafanas"]
    verbs: ["update"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: grafana-operator-update
  namespace: grafana
subjects:
  - kind: ServiceAccount
    name: grafana-operator-controller-manager
    namespace: grafana
roleRef:
  kind: Role
  name: grafana-operator-update
  apiGroup: rbac.authorization.k8s.io
---
apiVersion: grafana.integreatly.org/v1beta1
kind: Grafana
metadata:
  name: grafana
  labels:
    dashboards: "grafana"
spec:
  config:
    log:
      mode: "console"
    security:
      admin_user: admin
      admin_password: admin
    live:
      max_connections: "0"
  deployment:
    spec:
      template:
        spec:
          serviceAccountName: grafana
          nodeSelector:
            node-role.kubernetes.io/infra: ""
